.advertisementContainer {
  width: 350px;
  max-width: 350px;
  font-size: 12px;
  border: 1px solid #e4e4e4;
  margin-top: -40px;
  overflow: hidden;
  border-radius: 10px;
}

.ownerInfo {
  padding: 5px;
  height: 22px;
  background-color: #eeeeee;
  color: #BEBEBE;
}

.bidSection {
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 100%;
}

.daoInfo {
  display: flex;
  flex-direction: row;
}

.daoInfo .kolIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.daoInfoText {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.daoInfoText .daoToken {
  font-size: 14px;
  font-weight: 700;
}

.daoInfoText .daoHolderNumber {
  color: #929292;
}

.tokenPrice {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}

.tokenPrice .price {
  color: #424242;
  margin-top: 2px;
}

.tokenPrice .change {
  color: #ffffff;
  text-align: center;
  border-radius: 4px;
  width: fit-content;
  padding: 0 4px;
  display: flex;
  font-weight: 500;
  margin-top: -2px;
}

.tokenPrice .change.flat,
.tokenPrice .change.up {
  background: rgb(3, 166, 109);
}

.tokenPrice .change.down {
  background: #CF304A;
}

.tokenPrice .change .priceChangeIcon {
  margin-right: 4px;
  display: flex;
  align-items: center;
}

.tokenPrice .change .priceChangeText {
  line-height: 19px;
}

.lotteryInfo {
  text-align: center;
  padding: 10px;
  padding-bottom: 0;
  font-size: 14px;
  font-weight: 600;
}

.lotteryBtnContainer .actionBtn {
  background: #000000;
  color: #ffffff;
  text-align: center;
  min-width: 120px;
}

.lotteryBtnContainer {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.lotteryBtnContainer .actionBtn:hover {
  background: #3c3c3c;
}

.bidSectionInfo {
  text-align: center;
  padding: 10px;
  color: #b1b1b1;
}

.bidSectionBtnContainer {
  display: flex;
  justify-content: center;
  margin-bottom: 5px;
}

.bidSectionBtnContainer .actionBtn {
  background: #000000;
  color: #ffffff;
  text-align: center;
  min-width: 120px;
}

.bidSectionBtnContainer .actionBtn:hover {
  background: #3c3c3c;
}

.sponsorInfo {
  width: 100%;
  background: #ffffff;
  padding: 10px 16px;
  display: flex;
  flex-direction: row;
  color: #8E8E8E;
  align-items: center;
}

.sponsorInfo .sponsorIcon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: 4px;
  border: 0.5px solid rgb(230, 230, 230);
}

.bidLink {
  white-space: nowrap;
  text-decoration: underline;
}

.sponsorText {
  flex-grow: 1;
  opacity: 0.8;
}

.sponsorText .sponsorName {
  color: #3c3c3c;
  font-weight: 700;
  margin-right: 4px;
}

.rewardInfoMark {
  margin-left: 4px;
  color: #dadada;
}

.claimInfoMark {
  float: left;
  line-height: 12px;
}

.closeIcon {
  float: right;
  line-height: 12px;
  color: #aaaaaa;
  cursor: pointer;
  width: 12px;
  text-align: center;
}

.claimLink {
  margin-left: 5px;
  text-decoration: underline;
}

.adSection {
  position: relative;
  margin: 0 5px;
  margin-bottom: 5px;
}

.adSectionArrow {
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  left: 17px;
  top: -5px;
  z-index: 1;
  background: #ffffff;
  border-radius: 5px;
}

.adSectionArrow.back {
  border: 1px solid rgb(200, 200, 200);
}

.adSectionArrow.front {
  top: -4px;
  z-index: 3;
}

.adContent {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
  border: 1px solid rgb(207, 217, 222);
  background: #ffffff;
}

.posterSection {
  width: 100%;
  position: relative;
  min-height: 200px;
  max-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.adMediaImg {
  width: 100%;
  height: fit-content;
  max-height: 50vh;
}

.adDescription {
  padding: 12px;
}

.descriptionText {
  margin-right: 4px;
  font-size: 14px;
  font-weight: 600;
}

.adDescription .tags .tag {
  display: inline-block;
  font-size: 14px;
  font-weight: 800;
  margin-right: 5px;
}

.mask {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: rgba(0, 0, 0, 0.6);
  color: #ffffff;
  opacity: 0;
}

.mask.pinned {
  opacity: 1;
}

.mask:hover {
  opacity: 1;
}

.mask .confettiContainer {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 0;
  opacity: 0;
}

.mask.pinned .confettiContainer {
  opacity: 1;
}

.mask .infoText,
.mask .rewardRow,
.mask .btnContainer {
  z-index: 1;
}

.mask .infoText {
  padding: 10px 60px;
}

.rewardRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.rewardInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rewardRow.claimed {
  animation: breathing 3s ease-out infinite normal;
}

.rewardRow.claimed .rewardInfo {
  cursor: pointer;
}

.rewardRow.claimed .rewardInfo:hover .rewardAmount {
  text-decoration: underline;
}

.rewardInfo .kolIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 3px dashed #ffffff;
  margin-right: 6px;
}

.rewardInfo .rewardAmount {
  display: flex;
  flex-direction: column;
  margin-right: 20px;
}

.rewardInfo .rewardNumber {
  font-size: 18px;
  font-weight: 900;
}

.rewardInfo .rewardToken {
  font-size: 14px;
  font-weight: 700;
}

.rewardRow .claimedIcon {
  font-size: 24px;
  color: #16C784;
  display: flex;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding: 20px;
}

.actionBtn {
  min-width: 100px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 10px;
  width: fit-content;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.3);
}

.actionBtn.left {
  border-radius: 15px 0 0 15px;
  margin-right: 1px;
}

.actionBtn.right {
  border-radius: 0 15px 15px 0;
}

.actionBtn.left.right {
  border-radius: 15px;
}

.actionBtn:hover {
  background: rgba(255, 255, 255, 0.5);
}

.hoverHint {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.hoverHint .hintIcon {
  float: right;
  width: 20px;
  height: 20px;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 5px;
  border-radius: 5px;
}

.posterSection:hover .hoverHint {
  display: none;
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(1.05);
    -ms-transform: scale(1.05);
    transform: scale(1.05);
  }

  60% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }
}