.advertisementContainer {
  width: 350px;
  max-width: 350px;
  font-size: 12px;
  border: 1px solid #e4e4e4;
  margin-top: -40px;
}

.ownerInfo {
  padding: 4px 22px;
  background-color: rgb(255, 124, 51, 0.15);
  color: #746D6D;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.sponsorLink {
  text-decoration: underline;
}

.bidSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 22px;
}

.bidSection .kolIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.sponsorInfo {
  background: #ffffff;
  /* background: #EFEFEF; */
  padding: 4px 22px;
  display: flex;
  flex-direction: row;
  color: #8E8E8E;
  align-items: center;
}

.sponsorInfo .sponsorIcon {
  width: 20px;
  border-radius: 50%;
  margin-right: 4px;
  border: 0.5px solid rgb(230, 230, 230);
}

.bidLink {
  white-space: nowrap;
  text-decoration: underline;
}

.sponsorText {
  flex-grow: 1;
}

.sponsorText .sponsorName {
  color: #3c3c3c;
  font-weight: 700;
  margin-right: 4px;
}

.bidBtn {
  color: rgb(15, 20, 25);
  font-weight: 700;
  background: #ffffff;
  border: 1px solid rgb(207, 217, 222);

  height: 20px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
  cursor: pointer;
}

.bidBtn:hover {
  background: #cbcbcb;
}

.claimLink {
  margin-left: 5px;
  text-decoration: underline;
}

.adSection {
  position: relative;
  margin: 0 5px;
}

.adBubble {
  width: 100%;
  height: 100%;
  position: absolute;
}

/* .adSectionArrow {
  background: #EFEFEF;
  width: 20px;
  height: 20px;
  position: absolute;
  transform: rotate(45deg);
  left: 12px;
  top: -5px;
  z-index: 1;
}
.adSectionArrow.back {
  border: 1px solid;
}
.adSectionArrow.front {
  z-index: 3;
} */

.adContent {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  z-index: 2;
}

.adMediaImg {
  width: 100%;
  max-height: 60vh;
}

.adDescription {
  padding: 9px 12px;
  padding-top: 15px;
}

.descriptionText {
  margin-right: 4px;
}

.adDescription .tags .tag {
  display: inline-block;
  font-size: 14px;
  font-weight: 700;
  margin-right: 5px;
}

.divider {
  width: 100%;
  height: 1px;
  background: #dadada;
  margin: 5px 0;
}

.claimSection {
  padding: 8px 22px;
  padding-top: 0;
}

.claimSection .infoText {
  color: #939393;
}

.rewardRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.rewardInfo {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.rewardInfo .kolIcon {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 6px;
}

.rewardInfo .rewardAmount {
  display: flex;
  flex-direction: column;
}

.rewardInfo .rewardNumber {
  font-size: 18px;
  font-weight: 900;
}

.rewardInfo .rewardToken {
  font-size: 14px;
  font-weight: 700;
}

.rewardRow .buttons {
  display: flex;
  font-size: 12px;
  transform: scale(0.9);
  transform-origin: 100% center;
  white-space: nowrap;
}

.actionBtn {
  color: #ffffff;
  font-weight: 700;
  background: rgb(15, 20, 25);
  cursor: pointer;
  padding: 4px 10px;
}

.actionBtn:hover {
  background: rgba(15, 20, 25, 0.8);
}

.claimBtn {
  border-radius: 13px 0 0 13px;
  margin-right: 2px;
}

.instructionsBtn {
  border-radius: 0 13px 13px 0;
}

.noDidSection {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 10px;
}

.createDidBtn {
  border-radius: 13px;
}

.instructionSection .instruction {
  border: 1px solid #dadada;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  border-radius: 19px;
  align-items: center;
  padding: 4px 8px;
}

.instructionSection .instruction:hover {
  background: #f3f3f3;
}

.instructionSection .instruction+.instruction {
  margin-top: 8px;
}

.instructionSection .instruction .instructionText {
  flex-grow: 1;
  color: #717171;
}

.instructionTag {
  white-space: nowrap;
  margin-right: 4px;
}

.instructionTag,
.instructionScore {
  font-size: 14px;
  font-weight: 700;
  color: #000000;
}

.instructionTitle {
  margin-bottom: 5px;
  color: #939393;
}

.btnContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  padding-top: 8px;
}

.actionBtnBig {
  min-width: 100px;
  color: #ffffff;
  font-weight: 700;
  cursor: pointer;
  padding: 6px 10px;
  width: fit-content;
  border-radius: 15px;
  background: #ff5b00;
}
.actionBtnBig.left {
  border-radius: 15px 0 0 15px;
  margin-right: 1px;
}
.actionBtnBig.right {
  border-radius: 0 15px 15px 0;
}

.actionBtnBig:hover {
  background: #ff7c33;
}