.card-user-b .avator {
    position: relative;
}

.pfp-logo {
    width: 100% !important;
    height: 100% !important;
}

.face .pfp-link-badge {
    width: 20px !important;
    height: 20px !important;
}